<div class="store-request">
  <app-autocomplete
  label="Busque canciones o artistas"
  (searchEvent)="updateDateList($event)"
  class="first-item"
  ></app-autocomplete>
  <mat-selection-list
  [multiple]="false"
  class="select-list"
  >
    @for (item of listOptions; track item) {
      <mat-list-option
      [value]="item.id"
      (click)="addResquestLog()"
      class="list"
      >
        <p>{{ item.title }}</p>
        <p>{{ item.artist }}</p>
      </mat-list-option>
    }
  </mat-selection-list>

  <div class="current-song" *ngIf="currentSong">
    <p>Ahora suena</p>
    <p>{{ currentSong.title }}</p>
    <p>{{ currentSong.author }}</p>
  </div>
</div>


