<div class="store-request" *ngIf="dataInfo">
  <ng-template *ngIf="component === 1" [ngTemplateOutlet]="reguest"></ng-template>
  <ng-template *ngIf="component === 2" [ngTemplateOutlet]="history"></ng-template>
  <div class="current-song" *ngIf="currentSong">
    <p>Ahora suena</p>
    <p>{{ currentSong.title }}</p>
    <p>{{ currentSong.author }}</p>
  </div>
</div>



<ng-template #reguest>
  <mat-tab-group>
    <mat-tab label="Canciones favoritas">
      <ng-template matTabContent>
        <app-list-items-search label="Busca canciones o artistas" type="music" pos="{{ dataInfo.pos }}">
          <p>Nuestra selección para ti</p>
        </app-list-items-search>
      </ng-template>
    </mat-tab>
    <mat-tab label="Géneros el Corral">
      <ng-template matTabContent>
        <app-list-items-search label="Busca Géneros" type="gender" pos="{{ dataInfo.pos }}">
          <p>Nuestro menú de géneros</p>
        </app-list-items-search>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <button mat-stroked-button (click)="changeComponent(2)">En Cola</button>
</ng-template>
<ng-template #history>
  <p>Lo que va sonar</p>
  <mat-list role="list" class="select-list">
    <mat-list-item
    class="list"
    *ngFor="let item of itemsRequestSons"
    >
    <div class="options">
      <div>
        <p>{{ item.title }}</p>
        <p>{{ item.artist }}</p>
      </div>
    </div>
  </mat-list-item>
  </mat-list>
  <button mat-stroked-button (click)="changeComponent(1)">Seguir programando</button>
</ng-template>


