body {
  margin: 0;
}
.page-content {
  height: 100svh;
  background-color: #818C70;

  .content {
    padding: 1rem;
    max-width: 400px;
    margin: auto;
  }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
  h3 {
    text-align: center;
    color: #ffffff;
  }

}


.select-list {
  padding: 0;

  .list {
    background-color: white;
    margin: 10px 0;
    padding: 0;
    border-radius: 1rem;
    cursor: pointer !important;
  }

  &.scooll-bar{
    overflow-y: scroll;
    max-height: 300px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #414042;
  }
  &::-webkit-scrollbar-thumb {
    background: #F5B21F; /* Color del thumb */
  }

}
