body {
  margin: 0;
  background-color: #818C70;
}
.page-content {
  //min-height: 100svh;
  background-image: url('../../../assets/images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    padding: 0 1rem;
    max-width: 350px;
    margin: auto;
  }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    &.pt {
      padding-top: 3rem;
    }
  h3 {
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
  }

}

.mat-mdc-dialog-container .mdc-dialog__surface{
  border-radius: 30px !important;
}


.select-list {
  padding: 0;

  .list {
    background-color: white;
    margin: 10px 0;
    padding: 0;
    border-radius: 1rem;
    cursor: pointer !important;
  }

  &.scooll-bar{
    overflow-y: scroll;
    max-height: 232px;
    padding: 0;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #414042;
  }
  &::-webkit-scrollbar-thumb {
    background: #F5B21F; /* Color del thumb */
  }

}

.select-list {
  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gender {
    text-align: center;
  }

  .text-content{
    padding: 1rem;

    p {
      margin: 0;
      color: #450013;

      &.title {
        font-size: 16px;
      }

      &.author {
        font-size: 12px;
      }
    }
  }
}
