<app-autocomplete
label="{{ label }}"
class="first-item"
(searchEvent)="searchEvent($event)"
>
</app-autocomplete>
<div class="title-container">
  <mat-icon *ngIf="messageText && type === 'music'" fontIcon="arrow_back" class="icon-return" (click)="returnGender()"></mat-icon>
  <h3 *ngIf="messageText">{{ messageText }}</h3>
</div>
<ng-content *ngIf="!messageText"></ng-content>
<mat-list role="list" class="select-list" [ngClass]="listOptions.length >= 6 ? 'scooll-bar' : ''">
  <mat-list-item
  class="list"
  [ngClass]="type"
  *ngFor="let item of listOptions"
  (click)="eventClickOptions(item)"
  >
    <div class="options">
      <div class="text-content">
        <p class="title">{{ item.title }}</p>
        <p class="author">{{ item.artist }}</p>
      </div>
      <mat-icon *ngIf="type !== 'gender'" aria-hidden="false" aria-label="Example home icon" fontIcon="playlist_add" color="red"></mat-icon>
    </div>
  </mat-list-item>
</mat-list>
