@font-face {
  font-family: 'Helvetica';
  src: url('../_fonts/Helvetica.ttc');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../_fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'SantEliaRough';
  src: url('../_fonts/SantElia Rough Alt Bold ThrDMO.otf');
}
