<div class="modal-general">
  <mat-icon fontIcon="close" class="close-modal" (click)="close()"></mat-icon>
  <img class="backgound" src="../../../../../assets/images/modal.png" alt="Modal">
  <div class="modal-detail">
    <img src="../../../../../assets/images/{{ data.image }}" alt="Modal">
    <div *ngIf="type == 'see_more'" class="button-action">
      <button (click)="actionButton('see_more')">Ver caciones programadas</button>
    </div>
    <div *ngIf="type == 'continue'" class="button-action">
      <button (click)="actionButton('continue')">Continua programando</button>
    </div>
  </div>

</div>

